.countries-grid {
  display: grid;
  gap: 3rem;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.country {
  max-width: 320px;
  background-color: var(--background);
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
  overflow: hidden;

  &__flag {
    pointer-events: none;
  }

  &__text {
    padding: 2rem 2rem 3rem;
    pointer-events: none;
  }

  &__title {
    margin-top: 0;
    font-size: 1.2rem;
    pointer-events: none;
  }

  &__key {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    pointer-events: none;
  }

  &__value {
    font-weight: 400;
    pointer-events: none;
  }
}
