.modal {
  background-color: var(--body-background);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  display: grid;
  place-content: center;
  transform: translateX(100%);
  transition: transform 500ms ease-in;
}

.modal--show {
  //display: grid;
  transform: translateX(0%);
}

.modal__button {
  width: 200px;
  height: 60px;
  margin-bottom: 2rem;
}

.modal__country {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.facts__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.span-2 {
  grid-column: span 2;
}
